//>>>>> Component Button Here <<<<<//
.cmn-btn {
	display: inline-block;
	vertical-align: middle;
	border: none;
	outline: none !important;
	color: $white-clr;
	font-size: 15px;
	font-weight: 400;
	padding: 18px 30px 19px;
	@include transition;
	letter-spacing: 3px;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	text-align: center;
	line-height: 1;
	z-index: 9;
	text-transform: capitalize;
	background: $p1-clr;
	@include breakpoint(mobile-s){
		padding: 14px 10px 14px;
		font-size: 10px;
		border-radius: 15px;
	}
	@include breakpoint()
	i {
		margin-left: 5px;
		transition: all 0.4s;
	}
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		content: "";
		width: 20px;
		height: 20px;
		background-color: $p2-clr;
		z-index: -1;
		transition: all 0.6s;
		opacity: 0;
		visibility: hidden;
	}
	&.cmn-white {
		background: $white-clr;
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
	}
	&.cmn-primary2 {
		background: $p2-clr;
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
		&:hover {
			&::before {
				background: $p1-clr;
			}
			color: $white-clr;
			i {
				color: $white-clr;
			}
		}
	}
	&.primary-border {
		background: transparent;
		border: 1px solid $p1-clr;
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
		&:hover {
			&::before {
				background: $p1-clr;
			}
			color: $white-clr;
			i {
				color: $white-clr !important;
			}
		}
	}

	&:hover {
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
		&::before {
			width: 120%;
			height: 120%;
			opacity: 1;
			visibility: visible;
		}
	}
}
// .donation-purpose {
//     display: flex;
//     gap: 1rem;
    
//     .purpose-btn {
//         padding: 10px 15px;
//         background-color: lighten($p2-clr, 20%);
//         border: 1px solid $p1-clr;
//         // color: $text-color;
//         border-radius: 5px;
//         cursor: pointer;
//         transition: background-color 0.3s ease, color 0.3s ease;
        
//         &.active {
//             background-color: $p2-clr;
//             color: #fff;
//         }

//         &:hover {
//             background-color: darken($p2-clr, 10%);
//             color: #fff;
//         }
//     }
// }
.don-btn {
	display: inline-block;
    vertical-align: middle;
    border: 1px solid #000;
    outline: 2px #000;
    /* color: var(--white-clr); */
    font-size: 12px;
    font-weight: 400;
    padding: 12px 15px 10px;
    transition: all 0.4s ease-in-out;
    letter-spacing: 3px;
    border-radius: 11px;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 1;
    z-index: 9;
    text-transform: capitalize;
    background: #2ab93905;
	i {
		margin-left: 5px;
		transition: all 0.4s;
	}
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		content: "";
		width: 20px;
		height: 20px;
		background-color: $p1-clr;
		z-index: -1;
		transition: all 0.6s;
		opacity: 0;
		visibility: hidden;
	}
	
	&.don-white {
		background: $white-clr;
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
	}
	&.don-primary2 {
		background: $p2-clr;
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
		&:hover {
			&::before {
				background: $p1-clr;
			}
			color: $white-clr;
			i {
				color: $white-clr;
			}
		}
	}
	&.primary-border {
		background: transparent;
		border: 1px solid $p1-clr;
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
		&:hover {
			&::before {
				background: $p1-clr;
			}
			color: $white-clr;
			i {
				color: $white-clr !important;
			}
		}
	}

	&:hover {
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
		&::before {
			width: 120%;
			height: 120%;
			opacity: 1;
			visibility: visible;
		}
	}
}
.cu-btn {
	display: inline-block;
    vertical-align: middle;
    border: 1px solid #000;
    outline: 2px #000;
    /* color: var(--white-clr); */
    font-size: 12px;
    font-weight: 400;
    padding: 12px 15px 10px;
    transition: all 0.4s ease-in-out;
    letter-spacing: 3px;
    border-radius: 11px;
    position: relative;
    overflow: hidden;
    text-align: center;
    line-height: 1;
    z-index: 9;
    text-transform: capitalize;
    background: #2ab93905;
	i {
		margin-left: 5px;
		transition: all 0.4s;
	}
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		content: "";
		width: 20px;
		height: 20px;
		background-color: $p1-clr;
		z-index: -1;
		transition: all 0.6s;
		opacity: 0;
		visibility: hidden;
	}
	
	&.cu-white {
		background: $white-clr;
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
	}
	&.cu-primary2 {
		background: $p2-clr;
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
		&:hover {
			&::before {
				background: $p1-clr;
			}
			color: $white-clr;
			i {
				color: $white-clr;
			}
		}
	}
	&.primary-border {
		background: transparent;
		border: 1px solid $p1-clr;
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
		&:hover {
			&::before {
				background: $p1-clr;
			}
			color: $white-clr;
			i {
				color: $white-clr !important;
			}
		}
	}

	&:hover {
		color: $p900-clr;
		i {
			color: $p900-clr;
		}
		&::before {
			width: 120%;
			height: 120%;
			opacity: 1;
			visibility: visible;
		}
	}
}

.currency-btn.active {
	background-color:$p1-clr;
	color: white;
}
.don-btn.active {
	background-color:$p1-clr;
	color: white;
}
.is-invalid {
    border-color: red;
}

#error-message {
    color: red;
    font-weight: bold;
}


//>>>>> Component Button End <<<<<//
